<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <title>首页</title>
</head>
<body>
    <div class="header">
        <div class="mid-cont">
            <div class="pull-left logo"><img  src ="../static/img/logo.png"/></div>
            <div class="pull-right login">
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
            <nav class="pull-right">
                <a href="" class="active">网站首页</a>
                <a href="">新闻资讯</a>
                <a href="">联系我们</a>
                <a href="">申请加入</a>
                <a href="">关于我们</a>
            </nav>
           
            <div class="clear"></div>

        </div>
        <div class="banner">
          

            <div class="am-slider am-slider-default " id="demo-slider-0" data-am-flexslider="{directionNav: false,controlNav: true}">
                <ul class="am-slides">
                    <li><img src="../static/img/banner1.jpg" /></li>
                    <li><img src="../static/img/banner1.jpg" /></li>
                    <li><img src="../static/img/banner1.jpg" /></li>
                    <li><img src="../static/img/banner1.jpg" /></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="bodyer mid-cont">
        <div class="platform-feature"> 
            <div class="title">平台特色</div>
            <div class="small-title"><span>——— </span>FEATURES<span> ———</span></div>
            <div class="feature">
                <ul>
                    <li>
                        <img src="../static/img/platform.png"/>
                        <div>平台 Platform</div>
                        <p>线上应用管理平台，利用所掌握的技术提供最好的平台供使用者使用</p>
                    </li>
                    <li>
                        <img src="../static/img/organ.png"/>
                        <div>机构 Mechanism</div>
                        <p>图书馆、文化馆的公共服务机构，利用所掌握的技术提供最好的平台供使用者使用</p>
                    </li>
                    <li>
                        <img src="../static/img/service.png"/>
                        <div>服务 Service</div>
                        <p>链接线上与线下服务，利用所掌握的技术提供最好的平台供使用者使用</p>
                    </li>
                    <li>
                        <img src="../static/img/wechat.png"/>
                        <div>微信 WeChat</div>
                        <p>支持微信绑定，利用所掌握的技术提供最好的平台供使用者使用</p>
                    </li>
                    <li>
                        <img src="../static/img/apply.png"/>
                        <div>Apply</div>
                        <p>应用多种样式，利用所掌握的技术提供最好的平台供使用者使用</p>
                    </li>

                </ul>
            </div>
        
        </div>
       
        <div> 
            <div class="title">全民知识传播</div>
            <div class="small-title"><span>——— </span>Spread<span> ———</span></div>
            <div class="spread">
                <ul>
                    <li class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <img src="../static/img/spread1.jpg"/>
                        
                        <p>普法竞赛测评</p>
                    </li>
                    <li class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <img src="../static/img/spread2.jpg"/>
                        
                        <p>便捷管理</p>
                    </li>
                    <li class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <img src="../static/img/spread3.jpg"/>
                        
                        <p>互联网/移动互联网</p>
                    </li>
                    <li class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <img src="../static/img/spread4.jpg"/>
                        
                        <p>有趣性/有效性</p>
                    </li>
                    
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="about-us">
                <a href="http://www.shangyekj.com/"><img class="am-u-md-4 am-u-sm-12" src="../static/img/shangye.jpg"/></a>
                <div class="am-u-md-8 am-u-sm-12">
                    <h1>关于我们</h1>
                    <h3>About us</h3>
                    <p>上海上业信息科技股份有限公司成立于2007年，是一家集设计、研发、生产、销售为一体的高新技术企业。以专业化
                        的研发实力和市场运作能力成功服务了2000多家用户,总部位于上海在全国各地拥有18个分支机构,主要业务包括电子
                        资源、数据加工、软件开发、多媒体互动、创意设计为教育行业提供信息资源解决方案。
                    </p>
                    <a href="http://www.shangyekj.com/" class="arrows"></a>
                </div>
                <div class="clear"></div>
            </div>
            
            
        </div>
        <div class="applying"> 
            <div class="title">正在筹划中的应用</div>
            <div class="small-title"><span>——— </span>Apply<span> ———</span></div>
            <div class="apply">
                <ul>
                    <li>
                        <img src="../static/img/responder.jpg"/>
                        <div>
                            <h1>全民知识竞答</h1>
                            <p>学知识，比才智，练能力，老少皆宜，适应任何场所的，知识竞答小游戏。</p>
                        </div>
                    </li>
                    <li class="active">
                        <img src="../static/img/responder.jpg"/>
                        <div>
                            <h1>全民知识竞答</h1>
                            <p>学知识，比才智，练能力，老少皆宜，适应任何场所的，知识竞答小游戏。</p>
                        </div>
                    </li>
                    <li>
                        <img src="../static/img/responder.jpg"/>
                        <div>
                            <h1>全民知识竞答</h1>
                            <p>学知识，比才智，练能力，老少皆宜，适应任何场所的，知识竞答小游戏。</p>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            
        </div>

        <div> 
            <div class="title">合作伙伴</div>
            <div class="small-title"><span>——— </span>COOPERATION<span> ———</span></div>
            <div class="cooperation">
                <div class="am-slider am-slider-default " id="demo-slider-1" data-am-flexslider = "{controlNav: false}">
                    <ul class="am-slides">
                        <li><img src="../static/img/cooperation.jpg" /></li>
                       
                    </ul>
                </div>
            </div>
                
        </div>

        <div class="clear"></div>

    </div>
    <div class="footer">
        <div class="friend-link">
            <ul>
                <li>友情链接：</li>
                <li><a href=""><img src="../static/img/friend.jpg"/></a></li>
                <li><a href=""><img src="../static/img/friend.jpg"/></a></li>
                <li><a href=""><img src="../static/img/friend.jpg"/></a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="copy-right">
            <p>我的网站 版权所有 2008-2016 湘ICP备8888888</p>
            <p>本页面内容为网站演示数据，前台页面内容可以在后台修改。</p>
            <p>Powered by MetInfo 5.3.17</p>
        </div>
    </div>
</body>
</html>