<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="./static/css/news/news.css" rel="stylesheet">
    <script src="./static/js/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <!-- <script data-main="./static/js/index" src="./static/js/require.js"></script> -->
    <title>新闻详情</title>
</head>

<body>
    <div id="app">
        <div class="header" id="head">
            <div class="mid-cont">
                <div class="pull-left logo"><img src="./static/img/logo.png" /></div>
                <nav class="pull-right">
                    <a href="">网站首页</a>
                    <a href="./newslist" class="active">新闻资讯</a>
                    <a href="">联系我们</a>
                    <a href="">申请加入</a>
                    <a href="">关于我们</a>
                    <a href="" class="back-home">返回首页</a>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
        <div class="banner">
            <img src="./static/img/news-banner2.jpg" />
            <!-- <h1>{{name}}</h1> -->
        </div>
        <div class="bodyer mid-cont">
            <div class="am-u-lg-12 am-u-md-12">
                <a class="title">“撂荒田”种成“聚宝盆”</a>
                <div class="remarks">
                    <span>2017-07-14 13:04:34</span>
                    <span>admin</span>
                    <span><i></i>304</span>
                </div>
                <div class="article">
                    <p> 地处湘南一隅的江华瑶族自治县，是一个以粮食为主导产业的传统农业大县，也是劳务输出大县，10多年来，农民或外出务工，或改粮种树，导致“空壳村”大量出现，田地撂荒严重。</p>
                    <img src="./static/img/article.jpg" />
                    <p> 看着村子里一垄连着一垄的稻田长满野草，涛圩镇凤尾村村民任翠府心疼极了。凭着对土地和农业的热爱，从小帮家里种过田有着种田实践基础的任翠府在心里算了一本账，租赁乡亲们荒废已久的“撂荒田”一定大有前景。于是，耕田创业的种子在任翠府心里生根发芽，他坚定了把“撂荒田”耕种成“聚宝盆”的信念。</p>
                    <p> 2014年，任翠府流转了300亩乡亲们的“撂荒田”种植“深两优5814”稻谷，他和妻子日出而作，日落而息，认真管理认真打药到了收割季节，把稻谷卖出去，除去各种开支，最后一算，只赚了1万元。</p>
                    <p> 2015年开春，任翠府制订了增产增收的计划，在耕种过程中，从品种定向、耕种布局、育苗适期、密度把握、施肥合理性、管理技术措施、防病治虫除草，都按照科学耕种仔仔细细完成。</p>
                    <p> 一分耕耘，一分收获。至2016年底，任翠府耕种的稻田达3000亩，纯收入60万元。此外，任翠府还与同丰粮油食品有限责任公司合作，建立试验田，不断提升稻谷品质。</p>
                    <p> 在土地经营不善的凤尾村，任翠府集中种粮大户与种田能手组建了“凤尾村种植专业合作社”，通过不断总结经验、精心经营，科学管理、合理施肥，鼓励引导村民以转包、出租、入股的形式将耕田向合作社靠拢，“捡起”了553户村民“丢掉”的撂荒田，并签订了5年长期承包合同，以每年600元/亩的租金承包，耕种优质水稻，不仅有效地解决了见好就收尾村“有田无人种、能人无田种”的现象，还确保了粮食生产持续发展。</p>
                    <p> 合作社的成员从9户发展到100多户，今年，任翠府瞄准市场，及时更新了水稻优质品种，种植了2400亩“晶两优534”“钻石稻”和500亩优质香稻“玉香占”，他还加大了投入，投资150万元，添置了6台犁田机、2收割机、2架农用无人飞机、2台轻卡载货车等机械，长期固定性工人70人。</p>
                    <p> 谈到今后的打算，任翠府满怀信心地说：“我要把合作社做强做大，带领更多的农民朋友一起发家致富。”</p>


                </div>
                <div class="page">
                    <a class="pull-left">上一篇：让安全可见</a>
                    <a class="pull-right">下一遍：没有了</a>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="clear"></div>

        </div>
        <div class="bodyer-foot">
        </div>
        <div class="footer">
            <div class="link">
                <a href="http://amazeui.org" class="active">公司官网</a>
                <span>|</span>
                <a href="http://amazeui.org" class="active">关于我们</a>
                <span>|</span>
                <a href="http://amazeui.org" class="active">商务合作</a>
                <span>|</span>
                <a href="http://amazeui.org" class="active">法律声明</a>
            </div>
            <div class="copyright">Copyright@2008-2012CiWong Inc.AII Rights Reserved</div>
            <div class="qualifiy">增值电信业务经营许可证： 粤B2-20080204 B2-20110267 粤教[2008]7号 粤CP备09007483</div>
            <div class="icon">
                <ul>
                    <li><img src="./static/img/pic.jpg" /></li>
                    <li><img src="./static/img/pic.jpg" /></li>
                    <li><img src="./static/img/pic.jpg" /></li>
                    <li><img src="./static/img/pic.jpg" /></li>
                    <li><img src="./static/img/pic.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/news/news.js"></script>
</body>

</html>